<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Metric is a web-based metric calculation and data management system designed to collect user form inputs, process statistical fields, and store transaction records securely in a database.">
    <meta name="author" content="Metric">
    <title>Under Construction | Metric</title>
    <link rel="icon" href="{% static 'images/Metric.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/brands/boxicons-brands.min.css" rel="stylesheet">
</head>
<body>
    <section class="construction">
        <div class="main"><a href="{% url 'index' %}"><img src="{% static 'images/Metric_logo.png' %}" alt="logo"></a></div>

        <h1>We're getting ready to launch in</h1>

        <div class="countdown">
            <div class="circle">
                <svg>
                    <circle cx="70" cy="70" r="65"></circle>
                    <circle cx="70" cy="70" r="65" id="daysCircle"></circle>
                </svg>
                <div class="time">
                    <h2 id="days">00</h2>
                    <p>DAYS</p>
                </div>
            </div>

            <div class="circle">
                <svg>
                    <circle cx="70" cy="70" r="65"></circle>
                    <circle cx="70" cy="70" r="65" id="hoursCircle"></circle>
                </svg>
                <div class="time">
                    <h2 id="hours">00</h2>
                    <p>HOURS</p>
                </div>
            </div>

            <div class="circle">
                <svg>
                    <circle cx="70" cy="70" r="65"></circle>
                    <circle cx="70" cy="70" r="65" id="minutesCircle"></circle>
                </svg>
                <div class="time">
                    <h2 id="minutes">00</h2>
                    <p>MINUTES</p>
                </div>
            </div>

            <div class="circle">
                <svg>
                    <circle cx="70" cy="70" r="65"></circle>
                    <circle cx="70" cy="70" r="65" id="secondsCircle"></circle>
                </svg>
                <div class="time">
                    <h2 id="seconds">00</h2>
                    <p>SECONDS</p>
                </div>
            </div>
        </div>

        <p class="desc">
            Our website is under construction, we are working very hard to give you
            the best experience on our new web site.
        </p>
    </section>

    <section class="subscribe" id="agree">
        <form method="POST" class="sub_in" id="AgreeForm">
            {% csrf_token %}
            <div class="input">
                <input type="text" id="uemail" name="email" placeholder="Your Email" value="{{ sub_form.email.value|default:'' }}" class="{% if sub_form.email.errors %}error{% endif %}">
            </div>
            <div class="sub_btn">
                <button type="submit" name="subscribe_btn">SUBSCRIBE</button>
            </div>
        </form>
        <p id="mail_err">{{ sub_form.email.errors }}</p>
        {% if subscribe_success %}
        <div id="success-subscribe" data-message="{{ subscribe_success|escapejs }}"></div>
        {% endif %}
    </section>

    <!-- JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>